.logo-footer {
  height: 100px;
}

.global-footer {
  background-color: #7eb2dd;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  justify-content: space-evenly;
}

.copyright {
  font-size: 15px;
}

.footer-links {
  text-decoration: none;
  color: yellow;
}

.footer-links:hover {
  color: darkgoldenrod;
}
