* {
  margin: 0;
  padding: 0;
}

.global-header {
  width: 100vw;
  background-color: #7eb2dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  gap: 10px;
  padding-right: 5vw;
}

.logo {
  display: block;
  height: 200px;
}

.nav-btns {
  width: 200px;
  height: 75px;
  background-color: #7eb2dd;
  border: none;
  font-size: 40px;
  color: yellow;
  border-radius: 10px;
}

.nav-btns:hover {
  background-color: yellow;
  color: #7eb2dd;
  cursor: pointer;
}
